<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVQKiTaxrAjQDWPOyDALOUHDFeUC-hVhc</string>
	<key>GCM_SENDER_ID</key>
	<string>3033964325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.utkuguzel.Ticketock</string>
	<key>PROJECT_ID</key>
	<string>ticketock-65fca</string>
	<key>STORAGE_BUCKET</key>
	<string>ticketock-65fca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3033964325:ios:8b2de30ce8f13ce1e344cc</string>
</dict>
</plist>